
	body {
		-webkit-font-smoothing: antialiased;
		font-family: 'Roboto', sans-serif;
	}

	.demo-card-square.mdl-card {
	  width: 100%;
	  margin: auto;
	  height: 100vh;
	  overflow: scroll;
	}

	.mdl-card__supporting-text-nopadding {
		padding: 0px;
	}

	.mdl-list-sane {
		padding: 0px;
		margin-top:0px;
		margin-bottom:0px;
	}

	.mdl-list-sane li {
		font-size: 14px;
		padding-top: 4px;
    	padding-bottom: 4px;
	}

	.mdl-card__title-sane {
		padding-bottom: 0px;
    	border-top: 1px solid #e9e9e9;
	}

	.mdl-card__title-text-sane {
    	font-size: 13px;
    	line-height: 24px;
    	color: #888;
    	font-weight: 400;
	}

	.mdl-list__item-primary-content-sane {
		font-size: 12px;
    	color: #888;
    	font-weight: 400;
    	line-height:14px !important;
    	letter-spacing: normal;
    }

    li.mdl-list__item-primary-content-sane {
    	height:initial; 
		max-height:52px;
    }

	.mdl-list__item-primary-content-sane a {
    	color: #0D94F6;
    	text-decoration: none;
    	font-weight:normal;
	}

	.mdl-list__item-primary-content-sane a:hover {
		text-decoration: underline;
	}

	.mdl-progress {
		margin-top: 20px;
	}

	.material-icons-sane {
    	font-size: 20px;
    	line-height: 24px;
    	color: #888;
    	font-weight: 400;
	}

	.material-icons-sane a {
    	color: #0D94F6;
    	text-decoration: none;
    	font-weight:normal;
	}

	.material-icons-sane-small {
    	font-size: 12px;
    	line-height: 16px;
    	color: #888;
    	font-weight: 400;
	}

	.mdl-list-item-second-line {
		font-size: 12px;
    	height:16px;
		color: #363636;
    	font-weight: 400;
    	margin-top:2px;
	}

	.mdl-chip-sane {
		height:16px;
		line-height: 16px;
		padding-right: 8px;
		padding-left: 8px;
		padding-top:0px;
		padding-bottom:0px;
		margin:0px;
		vertical-align: middle;
	}

	.mdl-chip__text-sane {
		font-size: 12px;
		color: #363636;
    	font-weight: 400;
    	color:white;
    	vertical-align: middle;
	}

	.statusNew {
		background:#EFCA44;
	}

	.statusOpen {
		background:#D63E36;
	}

	.statusPending {
		background:#70B9DC;
	}

	.statusOnHold {
		background:#000000;
	}

	.statusSolved {
		background:#828282;
	}

	.mdl-list__item-avatar-sane.material-icons {
		height: 24px;
		width: 24px;
		font-size: 16px;
		line-height: 24px;
		vertical-align: middle;
		text-align: center ;
	}

	li.mdl-list__item--three-line-sane {
		height:initial; 
		max-height:44px;
		overflow: hidden; 
		white-space: nowrap; 
		text-overflow: ellipsis;
	}


